<article>
	<section><%= count %> : <%= question.content %></section>
	<% replications.forEach(function(replication){ %>
		<% if(replication.question_id == question._id){ %>
		<textarea><%= replication.result %></textarea>
		<button value="<%= replication.question_id %>" class="question-id-btn" style="display:none;"></button>
		<% } %>
	<% }); %>
</article>