<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% persons.forEach(function(person){ %>
      <% var count = 1 %>
      <a href="/admin_control/<%= person.paper_id %>"><%= person.name %><%= count %></a>
      <% count++ %>
    <% }) %>
  </body>
</html>