<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/create_paper">添加试卷</a>
    <% papers.forEach(function(paper){ %>
    	<a href="/modify_paper/<%= paper._id %>">
        <span><%= paper.name %></span> 
      </a>
    <%	}) %>
    <a href="/admin">返回菜单</a>
  </body>
</html>