<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% var count = 1; %>
    <% persons.forEach(function(person){ %>
      <a href="/admin_control/<%= person._id %>/<%= person.paper_id %>"><%= person.name %><%= count %></a>
      <% count++; %>
    <% }) %>
    <a href="/">返回菜单</a>
  </body>
</html>