<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% papers.forEach(function(paper){ %>
    	<a href="/examination/<%= paper._id %>"><%= paper.name %></a>
    <%	}) %>
  </body>
</html>