<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% papers.forEach(function(paper){ %>
    	<a href="/examination/<%= paper._id %>/<%= person_id %>"><%= paper.name %></a>
    <%	}) %>
    <a href="/">返回菜单</a>
  </body>
</html>