<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class="paper-info-form" method="post" action="/save_paper">
		<div>
			<label>名称:</label>
			<input type="text" id="name" name="name">
		</div>
		<div>
			<label>类型:</label>
			<input type="text" id="type" name="type">
		</div>
		<div>
			<label>时间:</label>
			<input type="text" id="limit_time" name="limit_time">
		</div>
		<div>
			<label>描述:</label>
			<textarea id="description" name="description"></textarea>
		</div>
		<button type="submit">添加</button>
	</form>
  </body>
</html>