<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class="paper-info-form" method="post" action="/save_paper">
		<div>
			<label>名称:</label>
			<input type="text" id="paper_name" name="paper_name">
		</div>
		<div>
			<label>类型:</label>
			<input type="text" id="paper_type" name="paper_type">
		</div>
		<div>
			<label>时间:</label>
			<input type="text" id="paper_limit_time" name="paper_limit_time">
		</div>
		<div>
			<label>描述:</label>
			<textarea id="paper_description" name="paper_description"></textarea>
		</div>
		<button type="submit">添加</button>
	</form>
  </body>
</html>