<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/examination.js"></script>
  </head>
  <body>
    <% var count = 1  %>
  	<% questions.forEach(function(question){ %>
      <% if(mark == "replication"){ %>
    		<% if(question.type == "0"){ %>
    			<% include admin_exam_topic_single %>
    		<% } %>
    		<% if(question.type == "1"){ %>
    			<% include admin_exam_topic_double %>
    		<%} %>
    		<% if(question.type == "2"){ %>
    			<% include admin_exam_topic_question %>
    		<% } %>
        <p>replication</p>
      <% } %>
      <% if(mark == "answer"){ %>
        <% if(question.type == "0"){ %>
          <% include exam_topic_single %>
        <% } %>
        <% if(question.type == "1"){ %>
          <% include exam_topic_double %>
        <%} %>
        <% if(question.type == "2"){ %>
          <% include exam_topic_question %>
        <% } %>
        <p>answer</p>
      <% } %>
      <% count++ %>
  	<% }) %>

    <div>
      <p>
        Please save all and exit!
      </p>
      <button><a href="/">Exit</a></button>
    </div>
  </body>
</html>