<article>
	<section><%= count %> : <%= question.content %></section>
	<% answers.forEach(function(answer){ %>
		<% if(question._id == answer.question_id){ %>
			<section>
				<input type="checkbox" value="<%= answer._id %>">
				<span><%= answer.content %></span>
			</section>
		<% } %>
	<% }) %>
</article>