<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
  	<h1 class="welcome-title">欢迎来到迈步科技!</h1>
  	<form class="name-form" method="post" action="/choose_paper">
  		<p class="tips">请输入您的名字开始笔试!</p>
  		<input id="name" name="name">
  		<button class="btn name-btn">确定</button>
  	</form>
  </body>
</html>
