<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/choose_paper">考试</a>
  	<a href="/admin_paper">试卷管理</a>
  	<a href="/admin">监控</a>
  </body>
</html>