<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="/javascripts/modify_paper.js"></script>
  </head>
  <body>
	<div class="question-form question-form-example">
		<div class="question-type-box">
			<p class="question-mark"><------ new question ------></p>
			<label>type:</label>
			<select class="question-type">
				<option value="0">单选题</option>
				<option value="1">多选题</option>
				<option value="2">问答题</option>
			</select>
		</div>
		<div class="question-content-box">
			<label>content:</label>
			<textarea class="question-content"></textarea>
		</div>
		<div class="answer-box">
			<section>
				<button class="add-answer-btn">
					add answer
				</button>
			</section>
			<div class="answer-item answer-item-example">
				<label>answer:</label>
				<input type="text" class="answer-content">
			</div>
		</div>
		<button class="save-question-btn" value="<%= paper_id %>">save</button>
	</div>
	<% questions.forEach(function(question){ %>
		<% include question_modify_part %>
	<% }) %>
	<div class="paper-exit-box">
		<button class="add-question-btn">添加试题</button>
		<a href="/del_paper/<%= paper_id %>">删除试卷</a>
		<a href="/admin_paper">返回</a>
	</div>
  </body>
</html>